<!DOCTYPE html>
<html lang="en">

<head>
    <title>Flashcards</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<style>
    :root {
        --accent: #6e48ad;
        --accent-bg: white;
        --bg: #fff;
        --text: black;
        --text-light: #585858;
        --border: #d8dae1;
        --code: #d81b60;
        --preformatted: #444;
    }

    article {
        background-color: #b3b3ca;
        border: 1px solid var(--border);
        border-radius: 5px;
        padding: 1em;
        margin: 1em 0;
    }
    body>header {
        background-color: #18354c;
        color: whitesmoke;
    }

    .boxx {
        --text: white;
        
    }

    mark {
        background-color: grey;
    }

    h2 {
        text-align: center;
    }

    h2, h4 {
        margin-top: 0;
    }

    hr {
        background: var(--accent);
        border-color: var(--accent);
    }

    button,
    a[role="button"] {
        color: white;
        text-decoration: none;
    }

    input, select, textarea {
        width: 100%;
    }
</style>
<body>
    <header>
        {% if messages %}
            <ul class="messages">
            {% for message in messages %}
                <li class="message">
                    {{ message }}
                </li>
        {% endfor %}
        </ul>
    {% endif %}
        {% load card_app_tags %}
        <h1>Flashcards App</h1>
        <a href="{% url 'card-list' %}" role="button">All Cards</a>
        <a href="{% url 'card-create' %}" role="button">Create New Card</a>
        <nav class="boxx">
            {% boxes_as_links %}
        </nav>
    </header>
    <main>
        {% block content %}
            <h2>Welcome to your Flashcards app!</h2>
        {% endblock content %}
    </main>
</body>
