{% extends "card_app/base.html" %}
{% load humanize %}

{% block content %}
    <h2>{{ box_number | ordinal }} Box</h2>
    <mark>{{ object_list | length }}</mark> Card{{ object_list | pluralize }} left in box.
    <hr>
    {% if check_card %}
        {% include "card_app/card.html" with card=check_card %}
    {% endif %}
{% endblock content %}