<article>
    <h4>{{ card.question }}</h4>
    {% if not check_card %}
        <p>{{ card.answer }}</p>
        <hr>
        <a href="{% url 'card-update' card.id %}" role="button">
            ✏️ Edit Card
        </a>
    {% else %}
        <details>
            <summary>Reveal Answer</summary>
            <p>{{ card.answer }}</p>
        </details>
        <hr>
        {% include "card_app/card_check_form.html" with solved=True %}
        {% include "card_app/card_check_form.html" with solved=False %}
    {% endif %}
</article>