{% extends "card_app/base.html" %}

{% block content %}
    {% if card %}
        <h2>Edit card</h2>
    {% else %}
        <h2>✨ Create New Card</h2>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save Card">
    </form>
    <a href="{% url 'card-list' %}">
        Cancel
    </a>
{% endblock %}